/* HEADER - NAVBAR */

.nav-link.active {
  color : var(--primary-color)!important;
  text-decoration: underline ; 
  font-weight: 900;
  }
    
.custom-nav-link {
  color : white;
  text-decoration: none;
  transition : text-decoration 0.3s ease;
  }
    
.custom-nav-link:not(.active):hover {
  text-decoration: underline;
  }

      
.logo:hover {
  fill : var(--white);
  }

li:hover {
  font-weight: 900;
  }

.navbar-collapse{
  text-align: left !important;
  }

h7 {
  font-weight: bold;
  }

  
  