
/* PORTFOLIO PAGE */

.portfolio-btn {
  transition: opacity 0.3s ease;
  }
  
.portfolio-btn:hover {
  background-color: #0d6efd !important; /* Maintient la couleur de base */
  opacity: 0.8; /* Rend plus clair avec transparence */
  border-color: #0d6efd !important;
  }